<div class="container" >

<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          IBM
      </a>
        <p class="navbar-text">{{ctrl.appname}}</p>
    </div>
  </div>
</nav>-->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#!/home">IBM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <p class="navbar-text">{{ctrl.appname}}</p>
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <li><a href="/#!/doclist">Stop Ship</a></li>
        <!--<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/#!/page1">Stop Ship</a></li>
            <li><a href="#">Pre Stop</a></li>
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>
            <li><a href="#">Reports</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Executive</a></li>
          </ul>
        </li>-->
      </ul>
      <!--<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>    
              <!--<span class="caret"></span>-->
        </a>
          <ul class="dropdown-menu">
            <li><a href="/#!/userprofile">User Profile</a></li>
            <li><a href="/#!/adduser">Add User</a></li>            
            <!--<li><a href="#">Preferences</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <li role="separator" class="divider"></li>
            <li><a href="#logoutModal" data-toggle="modal">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="homeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Select logout to leave this application, otherwise, select cancel.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success"   data-dismiss="modal" ng-click="ctrl.logout()"  >Logout</button>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <!--bar chart-->
    <div class="row">
      <div class="col-xs-12
                col-sm-12
                col-md-12
                col-lg-12 well"  style="background-color:#e5e8e7">
        <h2>Document Status</h2>
        <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
      </div>
    </div>

    <div class="row" align="left">
      <!--wordcloud-->
      <div class="col-xs-6
                col-sm-6
                col-md-6
                col-lg-6 well"  style="background-color:white">
        <h3>Document Frequent Words</h3>
        <img ng-src="assets/images/wordcloud.svg" width=640 height=360></img>
      </div>
      <!--dendogram-->
      <div class="col-xs-6
                col-sm-6
                col-md-6
                col-lg-6 well" style="background-color:white">
        <h3>Document Clusters</h3>
        <img ng-src="assets/images/dendo.svg" width=640 height=360></img>
      </div>
    </div>

  </div>


</div>