<div class="container" >

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          IBM
        <!--<img alt="Brand" src="...">-->
      </a>
        <p class="navbar-text navbar-right">{{ctrl.appname}}</p>
    </div>
  </div>
</nav>

    <div class="col-sm-6 col-sm-offset-2">
        <h3>Login</h3>
        <hr>
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>
        <!-- LOGIN FORM -->
        <form name="loginForm" ng-submit="ctrl.login()" novalidate autocomplete="off">
            <div class="form-group input-field col s6" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
                <input type="email" class="form-control" ng-model="ctrl.user.email"
                       placeholder="internet address @ IBM.com" name="email" 
                       ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@+[A-Za-z]{2}.ibm\.com$/"
                       required>
                <div class="help-block"
                     ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                    <span class="help-inline" ng-message="email">Email Address is invalid</span>
                    <span class="help-inline" ng-message="pattern">Email Address must be a valid IBM email address</span>
                </div>
            </div>
            <div class="form-group input-field col s6" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
                <input type="password" class="form-control" ng-model="ctrl.user.password"
                       name="password" placeholder="Password" 
                       minlength="8"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required
                       autocomplete="off" >
                <div class="help-block"
                     ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                    <span class="help-inline" ng-message="required">Password is mandatory.</span>
                    <span class="help-inline" ng-message="minlength">Password must be at least 8 characters long.</span>
                    <span class="help-inline" ng-message="pattern">Password must include a number, a special character (@, #, $), and both upper and lower cases.</span>
                </div>
            </div>

            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a ui-sref="register">Register here</a></p>
        <!--<p>Forgot your password ? <a ui-sref="ResetPassword">Reset</a></p>-->

    </div>


</div>