<div>  
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IBM</a>
        </div>

        <!--<form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>-->

        <!-- Collects nav links, forms, and other content for toggling -->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a href="#!/page1"
                       data-target="#page1"
                       data-toggle="tab">
                        Page 1
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!/page2"
                       data-target="#page2"
                       data-toggle="tab">
                        Page 2
                        <span class="sr-only">(search)</span>
                    </a>
                </li>
            </ul>

        </div> /.navbar-collapse -->

    </div><!-- /.container-fluid -->


</nav>


    <!--<h1>{{ctrl.header}}</h1>-->
<!--
<<<<<<< HEAD
 <div class="container-fluid">

    <div class="row">

        <div class="col-sm-8">
            <input  type="text" class="form-control" placeholder="Filter" ng-model="ctrl.searchFilter">
        </div>

            
        <div class="col-sm-4">
                <button type="submit" class="btn btn-success pull-right" ng-click="ctrl.createDoc()">Create Document</button>
        </div>
    </div>
    <br>
 </div>

=======-->
  <div>
    <button type="submit" class="btn btn-success" ng-click="ctrl.createDoc()">Create Document</button>
    <button type="submit" class="btn btn-info" ng-click="ctrl.exploreDocs()">Explore</button>
    <input type="text" class="form-control" placeholder="Filter" ng-model="ctrl.searchFilter">
  </div>

    <br>    

  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Document #</th>
          <th>Title</th>
          <th>Opened Date</th>
          <th>Owning Org</th>
          <th>Brand</th>
          <th>Status</th>
          <th>Last Update</th>
        </tr>
      </thead> 
      <tbody>
        <tr ng-repeat="docs in ctrl.documents | filter:ctrl.searchFilter | orderBy:'-opened_date' track by $index ">
          <td>{{docs.document_number}}</td>
          <td>{{docs.title}}</td>
          <td>{{docs.opened_date | date : "yyyy-MM-dd HH:mmZ"}}</td>
          <td>{{docs.owner}}</td>
          <td>{{docs.brand}}</td>
          <td>{{docs.status}}</td>
          <td>{{docs.last_update}}</td>
          <td><button type="button" class="btn btn-info" ng-click="ctrl.viewdocId(docs.id)">
              <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
              </button>
          </td>
          <td><button type="button" class="btn btn-success" ng-click="ctrl.editdocId(docs.id)">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
          </td>
        </tr>
      </tbody>      
    </table>
  </div>


</div>