<div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#!/home">IBM</a>
        </div>

        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="ctrl.searchFilter">
            </div>
        </form>

        <!-- Collects nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <p class="navbar-text">{{ctrl.header}}</p>
                </li>
                <li class="nav-item">
                    <a href="#!/productsaffected"
                       data-target="#page4"
                       data-toggle="tab">
                        Back
                        <span class="sr-only"></span>
                    </a>
                </li>



        </div> 
        <!--/.navbar-collapse -->

    </div><!-- /.container-fluid -->


</nav>



<div class="container-fluid">   

    <h4>{{ctrl.message}}</h4>

    <table class="table">
        <thead> 
            <td>Part Number</td>
            <td>Code Name</td>
            <td>Commidity</td>
            <td>Brand / Model-Type-Number / Code</td>
            <td>FRU P/N</td>                        
        </thead>

        <tbody>
            <tr ng-repeat="i in ctrl.searchResults  | filter:ctrl.searchFilter " >
                <td>{{i.part_number}}</td>
                <td>{{i.part_number_code}}</td>
                <td>{{i.commodity}}</td>
                <td>{{i.model_type_number}}</td>
                <td>{{i.fru_part_number}}</td>
                <td>
                    <div align="right">
                    <button  ng-hide="editMode" type="button" class="btn btn-success" ng-click="ctrl.addProduct(i)" >
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </div>                     
                </td>

            </tr>


        </tbody>

    </table>



</div>





</div>