<div>  
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IBM</a>
        </div>

        <!--<form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>-->

        <!-- Collects nav links, forms, and other content for toggling -->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a href="#!/page1"
                       data-target="#page1"
                       data-toggle="tab">
                        Page 1
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!/page2"
                       data-target="#page2"
                       data-toggle="tab">
                        Page 2
                        <span class="sr-only">(search)</span>
                    </a>
                </li>
            </ul>

        </div> /.navbar-collapse -->

    </div><!-- /.container-fluid -->


</nav>


    <!--<h1>{{ctrl.header}}</h1>-->

  <div class="container-fluid">
    <div class="row">
      <div id="docsPivotTableOutput"></div>
    </div>
  </div>


</div>