<div class="container" >

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#!/home">
          IBM
        <!--<img alt="Brand" src="...">-->
      </a>
            <p class="navbar-text navbar-left">{{ctrl.appname}}</p>       
    </div>
    <div class="collapse navbar-collapse" id="main-nav">
         <p class="navbar-text navbar-right">{{ctrl.name}}</p>
    </div>
  </div>
</nav>
    <!--<h3>{{ctrl.first_name}}</h3>
    <hr>-->

    <table class="table"> 
      <th>
        <tr>
          <td>
            First Name
          </td>
          <td>
            Last Name
          </td>
          <td>
            Email Address
          </td>
          <td>
            Status
          </td>
          <td>
            Access Control
          </td>
          <td>
            <!--Edit-->
          </td>
          <td>
            <!--Delete-->
          </td>          
        </tr>
      </th>
      <tbody>
        <tr ng-repeat="i in ctrl.user">
                <td>
                    <span ng-hide="editMode">{{i.first_name}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.first_name" />
                </td>
                <td>
                    <span ng-hide="editMode">{{i.last_name}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.last_name" />
                </td>
                <td>
                    
                    <span ng-hide="editMode">{{i.email}}</span>
                    <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.email" />
                </td>
                <td>
                    
                    <span ng-hide="editMode">{{i.status}}</span>
                    <!--<input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.status" />-->
                    <select ng-show="editMode"  class="form-control custom__select" ng-model="i.status" >
                      <option ng-repeat="y in ctrl.user_status" value="{{y}}"  >
                        {{y}}</option>
                    </select>

                </td>
                <td>                 
                    <span ng-hide="editMode">{{i.access_control}}</span>
                    <select ng-show="editMode"  class="form-control custom__select" ng-model="i.access_control" >
                      <option ng-repeat="y in ctrl.acl" value="{{y}}"  >
                        {{y}}</option>
                    </select>


                </td>
                <td>
                    <div align="right">
                        <button  ng-hide="editMode" type="button" class="btn btn-info" ng-click="editMode=true" >
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" data-ng-show="editMode" ng-click="editMode = false;ctrl.updateUserProfile(i.id)" class="btn btn-info">
                            <i class="glyphicon glyphicon-floppy-save" aria-hidden="true"></i>
                        </button>
                    </div>                  
                </td>
                <td>
                    <div align="right">
                        <button  ng-hide="editMode" type="button" ng-click="editMode = false; ctrl.deleteUserProfile(i.id)"  class="btn btn-danger" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <button type="button" data-ng-show="editMode" ng-click="editMode = false; ctrl.cancelEdit()" class="btn btn-danger">
                            <i class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></i>
                        </button>                        
                    </div>                  
                </td>
        </tr>
      
      </tbody>



    </table>








</div>